.flex-container{
    display:flex;
    height:200px;
    align-items:stretch;
    background-color:DodgerBlue;
    }
    .flex-container>div{
    background-color:aqua;
    height:100px;
    text-align:center;
    margin:10px;
    width:100px;
    }
    #marquee head{
    height: 10px;
    background-color: blue;
    }
    
    